#accordian {
  overflow: auto;
  height: 76%;

  img {
    float: right;
  }

  .accordian-question {
    width: 78%;
    margin: 0px auto;
    border-bottom: 1px solid $darkGreyishBlue;
    padding: 16px 0px;
  }
}
