#card {
  width: 325px;
  background-color: white;
  height: 67%;
  max-height: 535px;
  min-height: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;

  #mobile-woman {
    position: absolute;
    left: 15px;
    top: -107px;
  }

  #mobile-shadow {
    position: absolute;
    left: 42px;
    top: -4px;
  }
}
