#card {
  min-width: 325px;
  width: 325px;
  background-color: white;
  height: 535px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;

  & > img {
    position: absolute;
    left: 15px;
    top: -107px;
  }
}
