#faq {
  margin-left: auto;
  margin-right: auto;
  margin-top: 33%;
  height: 66%;

  & > span {
    font-size: 28px;
    font-weight: 700;
    margin: 0px auto;
    background-color: white;
    margin-bottom: 22px;
    display: table;
    //box-shadow: 0px 13px 8px white;
  }

  img {
    transition: all 0.5s;
  }
}
